<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/Change_password/">Change Password</a><br>
<a href="/myapp/view_user/">View User</a><br>
<a href="/myapp/view_complaints/">View Complaint and send reply</a><br>
<a href="/myapp/view_reviews/">View Review</a><br>
<a href="/myapp/view_apprve_rjct_staff/">View,Approve and Reject Staff</a><br>
<a href="/myapp/apprvd_nd_rjctd_staff/">View Approved and Rejected staff</a><br>
<a href="/myapp/rejected_staff/">View Rejected Staff</a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
</body>
</html>