{% extends 'user/usr_home_index.html' %}
{% block body %}
    <h1>Questions Generated</h1>
<form action="/myapp/usr_questions_post/" method="post">
    <table width="266" border="1" class="table table-bordered" style="color:  var(--font-color);">
  <tr>
    <th width="52">Sl No</th>
    <th width="68">Question</th>
    <th width="60">Answer</th>
  </tr>
        {% for i in data %}
  <tr>
    <td>{{ forloop.counter}}</td>
    <td>{{ i.question }}</td>
    <td>{{ i.answer }}</td>
  </tr>
        {% endfor %}
</table>
</form>
{% endblock %}
