<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="//fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

  <title>ExamWiz User</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/home3/assets/css/style-starter.css">
</head>

<body>
<!--header-->
<header>
  <div class="container">
      <nav class="navbar navbar-expand-lg">
          <h1><a class="navbar-brand" href="index.html">
                  <span class="sub-log">Exam</span>Wiz
              </a></h1>
          <!-- if logo is image enable this
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
              <span class="navbar-toggler-icon fa icon-close fa-times"></span>
              </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mx-lg-auto">
                  <li class="nav-item @@about__active">
                      <a class="nav-link" href="/myapp/usr_home/">Home
{#                          <span class="sr-only">(current)</span>#}
                      </a>
                  </li>
                  <li class="nav-item dropdown @@about__active">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                         Notes <span class="fa fa-angle-down"></span>
                      </a>
                      <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/myapp/usr_file_upload/">Add New Notes</a>
{#                          <a class="dropdown-item" href="/myapp/usr_view_uploaded_questions/">Questions Generated</a>#}
                          <a class="dropdown-item" href="/myapp/usr_voice/">Voice</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown @@about__active">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                         Tests <span class="fa fa-angle-down"></span>
                      </a>
                      <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/myapp/usr_attend_test/">Attend Test</a>
                          <a class="dropdown-item" href="/myapp/usr_view_result/">View Results</a>
                      </div>
                  </li>
                  <li class="nav-item @@contact__active">
                      <a class="nav-link" href="/myapp/usr_view_profile/">View Profile</a>
                  </li>
                  <li class="nav-item @@about__active">
                      <a class="nav-link" href="/myapp/usr_send_reviews/">App Review</a>
                  </li>
                   <li class="nav-item @@about__active">
                      <a class="nav-link" href="/myapp/usr_change_passwd/">Change Password</a>
                  </li>
                   <li class="nav-item dropdown @@about__active">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                         Complaints <span class="fa fa-angle-down"></span>
                      </a>
                      <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/myapp/usr_send_complaints/">Send Complaint</a>
                          <a class="dropdown-item" href="/myapp/usr_view_reply/">View Reply</a>
                      </div>
                  </li>
              </ul>
          </div>

          <div class="d-lg-block d-none">
              <a href="/myapp/adm_logout/" class="btn btn-style btn-primary" >LOGOUT</a>
          </div>

          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
              <nav class="navigation">
                  <div class="theme-switch-wrapper">
                      <label class="theme-switch" for="checkbox">
                          <input type="checkbox" id="checkbox">
                          <div class="mode-container py-1">
                              <i class="gg-sun"></i>
                              <i class="gg-moon"></i>
                          </div>
                      </label>
                  </div>
              </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
      </nav>
  </div>
</header>
<!-- //header -->

<section id="services" class="home-services py-5" style="margin-top: 50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box-wrap">

            {% block body %}

            {% endblock %}



        </div>
      </div>

    </div>
  </div>
</section>


{% block c %}


{% endblock %}



{% block b %}


{% endblock %}



<!-- //home page block6 -->
<!-- footer -->
<footer class="w3l-footer py-5">
  <div class="container pt-lg-5 pt-md-3">
    <div class="footer-grid_section text-center">
      <div class="footer-title mb-3">
        <h2> <a class="navbar-brand" href="index.html">
            <span class="sub-log">Exam</span>Wiz
          </a></h2>
      </div>
      <div class="footer-text">
        <p>This is a simple WebApplication that uses Artificial Intelligence technology to make it easier for students to practice
        with model questions from the given notes and also attend examinations.</p>
      </div>
    </div>
    <!-- copyright -->
    <section class="w3l-footer-29-main w3l-copyright">
      <div class="text-center">
        <p class="copy-footer-29">All rights reserved. Design by <a href="https://w3layouts.com/"
            target="_blank">
            Project TRIDENT</a></p>
      </div>
    </section>
    <!-- //copyright -->

  </div>
  <!-- //footer bottom -->

  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    &#10548;
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->

</footer>


<!-- //footer -->

<!-- Template JavaScript -->

<script src="/static/home3/assets/js/jquery-3.3.1.min.js"></script>

<script src="/static/home3/assets/js/theme-change.js"></script>

<!-- magnific popup -->
<script src="/static/home3/assets/js/jquery.magnific-popup.min.js"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>
<!-- magnific popup -->

<script src="/static/home3/assets/js/owl.carousel.js"></script>
<!-- script for banner slider -->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script for banner slider -->

<!-- script for Testimonials-->
<script>
  $(document).ready(function () {
    $('.owl-two').owlCarousel({
      loop: true,
      margin: 30,
      nav: true,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        480: {
          items: 1,
          nav: true
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script for Testimonials-->

<!-- script for services -->
<script>
  $(document).ready(function () {
    $('.owl-news').owlCarousel({
      loop: true,
      margin: 30,
      nav: false,
      responsiveClass: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        768: {
          items: 2,
          nav: false
        },
        1000: {
          items: 3,
          nav: false
        }
      }
    })
  })
</script>
<!-- //script for services -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<script src="/static/home3/assets/js/bootstrap.min.js"></script>

</body>

</html>